header.site-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: 
        url('../images/top-1280.svg'),
        url('../images/overlay.png'),
        url('../images/banner.jpg');
    background-attachment: scroll, scroll, scroll;
    background-position: bottom center, center, center;
    background-repeat: repeat-x, repeat, no-repeat;
    background-size: 1280px 184px, auto, cover;
    padding: 20px 0 12em 0;
    &:before,
    &:after {
        background: rgb(167, 165, 165);
        content: '';
        left: 50%;
        position: absolute;
        width: 1px;
        z-index: 0;
        opacity: 0.15;
    }
    
    &:before {
        top: 0;
        height: calc(100% - 20px);
    }

    @include md {
        background-attachment: scroll, scroll, fixed;
        background-image:
            url('../images/top-1600.svg'),
            url('../images/overlay.png'),
            url('../images/banner.jpg');
        background-size: 1600px 230px, auto, cover;
        padding: 20px 0 14em 0;
    }

    @include lg {
        background-image: 
            url('../images/top-3200.svg'),
            url('../images/overlay.png'),
            url('../images/banner.jpg');
        background-position: bottom center, top left, center center;background-repeat:repeat-x, repeat, no-repeat;
        background-size: 1600px 230px, auto, cover;
        padding: 20px 0 16em 0;

    }

    @include xl {
        padding: 20px 0 18em 0;
        background-size: 3200px 300px, auto, cover;
    }

    
}