.hero {
    text-align: center;
    margin-top: 2rem;
    .hero-logo {
        background: $google-green;
        border-radius: 100%;
        color: $primary;
        cursor: default;
        font-size: 2.25rem;
        height: 4rem;
        line-height: 4rem;
        width: 4rem;
        margin: 0 0 .75rem;
        transition: .6s transform ease;
        &:hover {
            transform: scale(1.2);
            color: $google-yellow;
        }
    }
    
}
